<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qust.employment.mapper.ListInfoMapper">
    <select id="selectAll"  resultType="com.qust.employment.po.ListInfo">
        select uuid, detailUrl, title, location, date, id, siteName
        from list_info
        where date > #{currentDate}
        order by date
        LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="selectAlltotalpages" resultType="java.util.Map">
         select COUNT(*) pages
        from list_info
        where date > #{currentDate}
    </select>
</mapper>